x64/
.vs/
*.user
*.xml
samples/
some_reserve/

test_1.txt
test_2.txt
test_3.txt
Just_impl.txt
Main.cpp
main.cpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app